.idea
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
.env
.DS_Store

log/*
celerybeat-schedule
local_cache.sqlite

de421.bsp
EOP-All.txt
ISS.OEM_J2K_EPH.xml